<section id="events">
  <div class="container">
    <h2 class="section-title">Cosmic Events</h2>
    <p class="section-subtitle">
      Step into cosmic harmony with our unique astrological events and spiritual gatherings.
    </p>

    <div class="events-grid">
      <article
        class="event-card"
        *ngFor="let event of (showAll ? events : (events | slice:0:3))"
        #eventCard
        [class.visible]="isCardVisible(eventCard)"
      >
        <div class="event-image">
          <img [src]="event.imagePath" [alt]="event.eventTitle" />
        </div>
        <div class="event-content">
          <p class="event-date">{{ event.eventDate | date }}</p>
          <h3 class="event-title">{{ event.eventTitle }}</h3>
          <p>{{ event.excerpt }}</p>
          <button class="read-more-btn" (click)="deatils(event)">
            Read More
          </button>
        </div>
      </article>
    </div>

    <!-- See More Button -->
    <div class="see-more"  *ngIf="!showAll" (click)="show()">
      <a href="/#/event" class="see-more-btn">
        See More →
      </a>
    </div>
  </div>
</section>


<app-modal
  *ngIf="selectedEvent"
  [modalId]="selectedEvent.id"
  [title]="selectedEvent.eventTitle"
  [date]="selectedEvent.eventDate"
  [content]="selectedEvent.description"
  [isOpen]="isModalOpen"
  (closeModalEvent)="closeModal()"
></app-modal>
