<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <img src="assets/img/logo.png" alt="">
                <p>A famous Astrologer in Kota Mr. Shyam Ojha offers Vedic Astrological solutions to all problems in a Human Life. People looking for Indian Vedic Astrologers in Kota must contact him.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <a (click)="scrollToSection('about')">About</a>
                <a (click)="scrollToSection('service')">Services</a>
                <a (click)="scrollToSection('blog')">Blog</a>
                <a (click)="scrollToSection('events')">Events</a>
            </div>
            <div class="footer-section">
                <h4>Services</h4>
                <a (click)="scrollToSection('service')">Astrology</a>
                 <a (click)="scrollToSection('service')">Numerology </a>
                <!-- <a (click)="scrollToSection('service')">Transit Readings</a>  -->
                <a (click)="scrollToSection('ask-question')">Ask a Question</a>
            </div>
            <div class="footer-section">
                <h4>Connect</h4>
                <a href="https://www.facebook.com/share/16r2ZhvyqL/">facebook</a>
                <a href="https://www.instagram.com/devegya_jyotish/">Instagram</a>
                <a href="https://www.youtube.com/@devegya-astro-vaastu-numer9283">YouTube</a>
                <a href="https://x.com/AstroDevegya">Twitter</a>
                <a href=" https://www.linkedin.com/in/devegya-jyotish-ba4aba242/?originalSubdomain=in">LinkedIn</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 All rights reserved. | <a href="privacy-policy" alt="">Privacy Policy</a> | <a href="terms_condition" alt="">Terms and Condition</a>|<a href="disclaimer" alt="">Disclemer</a></p>
        </div>
    </div>
</footer>

