<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <img src="assets/img/logo.png" alt="">
                <p>A famous Astrologer in Kota Mr. Shyam Jha offers Vedic Astrological solutions to all problems in a Human Life. People looking for Indian Vedic Astrologers in Kota must contact him.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <a (click)="scrollToSection('about')">About</a>
                <a (click)="scrollToSection('service')">Services</a>
                <a (click)="scrollToSection('blog')">Blog</a>
                <a (click)="scrollToSection('events')">Events</a>
                <a (click)="scrollToSection('products')">Shop</a>
                <a (click)="scrollToSection('ask-question')">Ask a Question</a>
            </div>
            <div class="footer-section">
                <h4>Services</h4>
                <a (click)="scrollToSection('service')">Astrology</a>
                 <a (click)="scrollToSection('service')">Vastu Shastra </a>
                 <a (click)="scrollToSection('service')">Numerology </a>
                 <a (click)="scrollToSection('service')">Palm Reading </a>
                 <a (click)="scrollToSection('service')">Matrimonial </a>
                 <a (click)="scrollToSection('service')">Pre Marriage Counsellings </a>
                <!-- <a (click)="scrollToSection('service')">Transit Readings</a>  -->
            </div>
            <div class="footer-section">
                <h4>Products</h4>
               <a (click)="scrollToSection('products')">Vastu Products</a>
               <a (click)="scrollToSection('products')">Gemstone</a>
               <a (click)="scrollToSection('products')">Crystal</a>
               <a (click)="scrollToSection('products')">Mala's</a>
               <!-- <a (click)="scrollToSection('products')">Poojs Pandals</a> -->
            </div>
        </div>
                 <div class="footer-bottom">
                <p>&copy; 2025 All rights reserved. |
                    <a routerLink="privacy-policy " style="color:#FF7A00;">Privacy Policy</a> |
                    <a routerLink="terms_condition" style="color:#FF7A00;"> Terms and Condition</a> |
                    <a routerLink="disclaimer" style="color:#FF7A00;"> Disclaimer</a>
                </p>

                <!-- Social Icons -->
                <div class="social-icons">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/share/16r2ZhvyqL/" target="_blank" rel="noopener noreferrer"
                        aria-label="Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 320 512">
                            <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 
        29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 
        80 159.4v42.1H14v97.8H80z" />
                        </svg>
                    </a>

                    <!-- Instagram -->
                    <a href="https://www.instagram.com/devegya_jyotish/" target="_blank" rel="noopener noreferrer"
                        aria-label="Instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 
        114.9s51.3 114.9 114.9 114.9S339 319.5 
        339 255.9 287.7 141 224.1 141zm0 
        189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 
        74.7-74.7 74.7 33.5 74.7 74.7-33.6 
        74.7-74.7 74.7z" />
                        </svg>
                    </a>

                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/devegya-jyotish-ba4aba242/?originalSubdomain=in"
                        target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                            <path d="M100.3 448H7.4V148.9h92.9zM53.8 
        108.1C24.1 108.1 0 83.5 0 
        53.8a53.8 53.8 0 0 1 
        107.6 0c0 29.7-24.1 54.3-53.8 
        54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 
        0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 
        42.7-48.3 87.9-48.3 94 0 111.3 
        61.9 111.3 142.3V448z" />
                        </svg>
                    </a>

                    <!-- YouTube -->
                    <a href="https://www.youtube.com/@devegya-astro-vaastu-numer9283" target="_blank"
                        rel="noopener noreferrer" aria-label="YouTube">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                            <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 
        64 288 64 288 64S117.2 64 74.6 
        75.5c-23.5 6.3-42 24.9-48.3 
        48.6-11.4 42.9-11.4 132.3-11.4 
        132.3s0 89.4 11.4 132.3c6.3 
        23.7 24.8 41.5 48.3 47.8C117.2 
        448 288 448 288 448s170.8 0 
        213.4-11.5c23.5-6.3 42-24.2 
        48.3-47.8 11.4-42.9 11.4-132.3 
        11.4-132.3s0-89.4-11.4-132.3zm-317.5 
        213.5V175.2l142.7 81.2-142.7 
        81.2z" />
                        </svg>
                    </a>

                    <!-- Twitter -->
                    <a href="https://x.com/AstroDevegya" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                            <path d="M389.2 48h70.6L305.6 224.2 
        487 464H345L233.7 318.6 
        106.5 464H35.8L200.7 275.5 
        26.8 48H172.4L272.9 180.9 
        389.2 48zM364.4 421.8h39.1L151.1 
        88h-42L364.4 421.8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
</footer>

