<button class="back-btn" (click)="goBack()">← Back</button>

<div class="details-container">
  <!-- Left side: Image -->
  <div class="details-image">
   <img [src]="details.imagePath" class="main-image" alt="{{ details.name }}" />
  </div>

  <!-- Right side: Content -->
  <div class="details-content">
    <h1>{{details?.eventTitle}}{{details.postTitle}}</h1>
    <p><strong>Date:</strong> {{details?.eventDate | date}}{{details.publishDate | date}}</p>
    <p><strong>Type:</strong> {{details?.eventType}}{{details.category}}</p>
    <p>{{details?.description}}{{details.content}}</p>

    <!-- Optional extra content -->
    <ul *ngIf="details?.highlights?.length">
      <li *ngFor="let point of details.highlights">{{point}}</li>
    </ul>

    <button *ngIf="details?.link" (click)="openLink(details.link)">
      Read More
    </button>
  </div>
</div>
