<header class="header" [class.fixed]="isFixed">
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="top-left">
      <i class="fa fa-headphones"></i>
      <span>Talk to Astrologer - </span>
      <a href="tel:+91-9413987619">+91-9413987619</a>
    </div>
    <div class="top-right">
      <i class="fa fa-envelope"></i>
      <span>Email us - </span>
      <a href="mailto:devegya123@gmail.com">support&#64;devegya.com</a>
    </div>
  </div>

  <!-- Main Header -->
  <div class="main-header">
    <div class="logo">
      <a href="#/home" alt="">
      <img src="assets/img/logo.png" alt="Astrology Logo" />
      </a>
    </div>
    <nav>
     <ul class="nav-menu" [class.active]="isMobileMenuOpen">
  <li *ngFor="let item of navItems">
    <a
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMobileMenu()"   
    >
      {{ item.label }}
    </a>
  </li>
</ul>

      <div class="mobile-menu" (click)="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>
