<!-- <app-header /> -->
<div class="hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>Jeevan Humsafar</h1>
    <p>India's First Online Classified Matrimony</p>
  </div>
</div>

<section class="about-section">
  <div class="about-text">
    <h2>About Our Partner</h2>
    <p>
      JeevanHumsafar.com is one of India’s First Online Classified & Listing both Type of Search Matrimonial Site.
      We bring first matrimonial service was founded with a simple objective to help people find happiness. 
      We display more relevant matches than any other matrimonial service. 
      We created a renowned service that has touched millions of people.
    </p>
    <p>
      JeevanHumsafar.com (Team) is a set of hardworking people, with a mission, and a promise & dedicated to
      providing you with the ultimate partner search experience. 
      We offer the most comprehensive matrimonial service and promise that no one will provide you with value like us.
    </p>
  </div>
  <div class="about-img">
    <img src="/assets/img/matru.jpg" alt="About Image">
  </div>
</section>

<section class="contact-section">
  <div class="contact-card">
    <div class="logo">
      <img src="/assets/img/1.png" alt="Logo">
    </div>
    <div class="contact-info">
      <h3>Contact</h3>
      <p>JeevanHumsafar.com</p>
      <p>1062-(A), R.K. Puram, Kota Rajasthan-324005</p>
      <p>📞 +91-9413987619</p>
      <p>✉️ support&#64;jeevanhumsafar.com</p>
      <a href="http://jeevanhumsafar.com/"><button class="visit-btn">Visit Jeevan Humsafar</button> </a>
    </div>
  </div>
</section>
<!-- <app-footer /> -->