<!-- <app-header/> -->

<div class="hero-section">
  <div class="overlay">
    <h1>Pre Marriage Counselling</h1>
    <p>Expert Tips For Pre Marriage Counselling</p>
  </div>
</div>

<div class="content-section container">
  <h2>Pre-wedding counseling is important</h2>

  <div class="info-block">
    <h3>What is Premarital Counseling</h3>
    <p>
      Premarital counseling means preparing the boy and girl mentally, physically and emotionally for the upcoming marriage.
    </p>
  </div>

  <div class="info-block">
    <h3>Why necessary</h3>
    <p>
      Before marriage, the boy - girl may have met each other, you know, have been together, but as soon as the marriage takes
      place, the responsibility of changing roles, which one has to understand and live up to the expectations of the other. 
      Must get off Counseling prepares you for this.
    </p>
  </div>

  <div class="info-block">
    <h3>Why was it not necessary before</h3>
    <p>
      Earlier marriages were mostly arranged. Due to not being financially self-dependent, she used to get married.
    </p>
  </div>

  <div class="info-block">
    <h3>How does advice work</h3>
    <p>
      Pre-marriage counseling determines your mental and emotional maturity, likes and dislikes, whether you are capable of
      carrying on the relationship at that time. Counselors from the views of two people decide whether they will be happy with
      each other. According to this, the counselor answers the question, then the result comes out.
    </p>
  </div>

  <div class="info-block">
    <h3>Remember</h3>
    <p>
      Tolerance, orderliness, the determination to maintain relationships and positive thinking is what makes a marriage
      successful. Therefore, you must have pre marriage counseling.
    </p>
  </div>
</div>
<!-- <app-footer ></app-footer> -->