<section id="about" *ngIf="activeSection === 'about'" class="about-section">
  <div class="about-inner">
    <!-- Left Image -->
    <div class="about-image">
      <img 
        src="/assets/img/Astriloger_PhotoGrid.png"
        alt="Astrology Image"
      />
    </div>

    <!-- Right Content -->
    <div class="about-content">
      <h2>Know About Astrology</h2>
      <div class="underline"></div>
      <p>
      Mr. Shyam Jha is a renowned Vedic Astrologer and Vastu Consultant with over 15 years of experience in providing accurate predictions and genuine remedies. Known for his honesty, high values, and deep knowledge, he has helped thousands of people across India find clarity, overcome challenges, and achieve success in life.  </p>
      <p>
In today’s world, where many are misled by commercial astrology, Mr. Shyam Jha stands out as a trusted astrologer who offers authentic guidance and practical solutions. Unlike others who recommend unnecessary rituals, costly stones, or tabeez, he believes in true Vedic Astrology, accurate horoscope reading, and spiritual remedies that bring real change.  </p>

      <p>✨ Why Choose Shyam Jha as Your Astrologer?
        <br>
🌟 15+ Years of Expertise in Jyotish & Vastu Shastra<br>
🌟 Trusted as one of the Best Astrologers in India for accurate predictions<br>
🌟 Provides honest, ethical, and personalized consultations<br>
🌟 Specializes in career, finance, marriage, relationships, and business<br>
🌟 Expert in Vastu Shastra for home, office, and industries<br>
🌟 Recommends only authentic mantras, spiritual remedies, and vastu corrections<br>
</p>
      <!-- <a href="#" class="read-more">READ MORE</a> -->

      <!-- <div class="contact-box">
        <div class="icon">
          <i class="fa fa-phone"></i>
        </div>
        <div class="contact-text">
          <span>Contact Our Expert Astrologers</span>
          <h3>+91-9413987619</h3>
        </div>
      </div> -->
    </div>
  </div>
</section>
