<!-- <app-header/> -->

<div class="hero-section">
  <div class="overlay">
      <h1>Astrology</h1>
      <h3>Horoscopes || Vastu Shastra || Numerology || Matrimonial  </h3>
      <p>The Ancient Science of Life Guidance
    </p>
  </div>
</div>

<div class="content-section container">
  <h2>Astrology</h2>

  <div class="info-block">
    <h3>What is Astrology?</h3>
    <p>
     Astrology is not magic, but a scientific and spiritual discipline that studies the movements of celestial bodies – the Sun, Moon, planets, and constellations – and their influence on human life. Through astrology, one can understand future possibilities, auspicious timings, eclipses, seasonal changes, and planetary alignments.
   </p>
  </div>

  <div class="info-block">
    <h3>Importance of Panchang

</h3>
    <p>
The Panchang not only highlights festivals, rituals, and auspicious moments but also provides insights into planetary transits, sunrise-sunset timings, and significant astrological events that influence our lives.

    </p>
  </div>

  <div class="info-block">
    <h3>Astrology in Modern Life
</h3>
    <p>
      Even today, astrology acts as a guiding light, helping individuals make confident decisions and progress in their spiritual and personal journey. It is a timeless tool to align with cosmic energy and bring clarity to life.    </p>
  </div>

  <!-- <div class="info-block">
    <h3>How does advice work</h3>
    <p>
      Pre-marriage counselling determines your mental and emotional maturity, likes and dislikes, whether you are capable of
      carrying on the relationship at that time. Counselors from the views of two people decide whether they will be happy with
      each other. According to this, the counselor answers the question, then the result comes out.
    </p>
  </div>

  <div class="info-block">
    <h3>Remember</h3>
    <p>
      Tolerance, orderliness, the determination to maintain relationships and positive thinking is what makes a marriage
      successful. Therefore, you must have pre marriage counselling.
    </p>
  </div> -->
</div>
<!-- <app-footer ></app-footer> -->