<!-- <app-header/> -->

<div class="hero-section">
  <div class="overlay">
      <h1>Crystal Healing</h1>
      <h3>Horoscopes || Vastu Shastra || Numerology || Matrimonial  </h3>
      <p>Balance Your Energy with Crystals
    </p>
  </div>
</div>

<div class="content-section container">
  <h2>Crystal Healing</h2>

  <div class="info-block">
    <!-- <h3>What is Astrology?</h3> -->
    <p>
   Crystal Healing is an ancient holistic practice that uses the natural vibrations of crystals and gemstones to restore harmony in the body, mind, and spirit. Each crystal carries unique energy that can activate, cleanse, and balance your chakras, helping you connect with inner peace and positivity.   </p>
  </div>

  <div class="info-block">
    <!-- <h3>Importance of Panchang</h3> -->
    <p>
From reducing stress and improving focus to attracting love, prosperity, and protection, crystals have been trusted for centuries across cultures for their healing powers. Whether it’s Amethyst for calmness, Rose Quartz for love, or Citrine for abundance, every crystal supports you on your personal journey of growth and well-being.</p>
  </div>

  <div class="info-block">
    <!-- <h3>Astrology in Modern Life
</h3> -->
    <p>
     Experience the gentle yet powerful energy of crystals and discover how they can complement your lifestyle, meditation, and spiritual practices.    </p>
  </div>

  <div class="two-column">
   <div class="image-box">
      <img src="/assets/img/image.png" alt="">
    </div>
    <div class="points">
      <h3>Gemstones – The Power of Nature’s Energy</h3>
      <p>
       Gemstones are natural treasures formed deep within the earth, each carrying unique vibrations that influence our life, energy, and destiny. In astrology, gemstones are recommended to strengthen favorable planets and reduce the malefic effects of weak ones.
      </p>
      <ul class="highlight-list">
        <li>Wearing the right gemstone, such as Ruby for confidence, Emerald for wisdom, Blue Sapphire for success, or Yellow Sapphire for prosperity, can enhance positivity, attract opportunities, and bring balance to your life.</li>
        <li>Every gemstone works best when chosen according to your horoscope, planetary positions, and personal energy field, ensuring harmony between you and cosmic forces.</li>
      </ul>
    </div>
    </div>
  <!-- </div> -->
</div>
<!-- <app-footer ></app-footer> -->