<section id="home" *ngIf="activeSection === 'home'" class="hero">
  <div class="hero-inner">
    <!-- Prev Button -->
    <!-- <button class="nav-btn prev"><i class="fa fa-play"></i> PREV</button> -->

    <!-- Text Content -->
    <div class="hero-text">
      <p class="subtitle">ASTROLOGY REVELS THE WILL OF GOD</p>
      <h3>Horoscopes||Vastu Shastra||Numerology ||Matrimonial</h3>
      <p class="desc">
     Unveil your destiny with the timeless wisdom of the stars—find clarity, embrace new opportunities, and walk confidently on your true path.
      </p>
      <!-- <a href="#" class="read-more">READ MORE</a> -->
    </div>

    <!-- Rotating Circle -->
    <div class="hero-image">
      <img
        src="/assets/img/banner_image (1).png"
        alt="Horoscope Wheel"
      />
    </div>

    <!-- Next Button -->
    <!-- <button class="nav-btn next">NEXT <i class="fa fa-play"></i></button> -->
  </div>
</section>
